<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                          "level": "%level",
                          "logger": "%logger",
                          "thread": "%thread",
                          "message": "%message",
                          "traceId": "%X{traceId:-}",
                          "spanId": "%X{spanId:-}"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON" />
    </root>
</configuration>
